*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	--primary-color: hsla(257, 33%, 19%, 1);
	--secondary-color: hsla(260, 19%, 6%, 1);
	--gray-100: hsla(240, 9%, 89%, 1);
	--gray-150: hsla(0, 0%, 85%, 0.5);
	--gray-200: hsla(0, 0%, 85%, 1);
	--gray-300: hsla(240, 7%, 78%, 1);
}

body {
	font-family: "Roboto";
	background-color: var(--secondary-color);
	display: grid;
	place-items: center;
	min-height: 100vh;
}

h2 {
	font-size: 2.4rem;
	font-weight: 700;
}

h3 {
	font-size: 1.8rem;
	font-weight: 400;
}

p {
	font-size: 1.4rem;
	font-weight: 400;
}

button {
	appearance: none;
	background-color: transparent;
	border: 0;
}
.wrapper {
	display: grid;
	grid-template-columns: 267px 358px;
	grid-template-rows: 267px 200px;
	grid-template-areas: "l1 l2" "l1 l3";
	gap: 32px;
}

.layout {
	background-color: var(--primary-color);
	border-radius: 9.6px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 28px;
}

.layout img {
	width: var(--image-width);
	aspect-ratio: 1;
	border-radius: 9.6px;
}

.layout-one {
	--image-width: 190px;
	grid-area: l1;
	padding: 38px;
}

.layout-one .music-info {
	flex-direction: column;
}

.layout-one .music-control {
	justify-content: space-between;
}

.layout-two .music-info,
.layout-three .music-info {
	align-items: center;
}

.layout-two .music-control,
.layout-three .music-control {
	justify-content: space-around;
}

.layout-two {
	--image-width: 85px;
	grid-area: l2;
	padding: 29px;
}
.layout-three {
	--image-width: 85px;
	grid-area: l3;
	padding: 29px;
}

.music-info {
	display: flex;
	color: var(--gray-100);
	gap: 29px;
}

.music-control {
	display: flex;
	width: 100%;
}

.music-control img {
	width: 32px;
	cursor: pointer;
}

.music-time-info {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 9.6px;
}

.music-bar {
	--time-width: 80%;
	--time-height: 6px;
	background-color: var(--gray-150);
	width: 100%;
	height: var(--time-height);
	border-radius: 9.6px;
	position: relative;
}

.music-bar::after {
	content: "";
	width: calc(var(--time-width) + 1px);
	height: var(--time-height);
	background-color: var(--gray-200);
	border-radius: 9.6px;
	position: absolute;
	inset: 0;
}

.music-time {
	display: flex;
	color: var(--gray-300);
	justify-content: space-between;
}
